/*.my-navbar{
  background: #ff0000;

}

.my-navbar .navbar-brand{
  color: white;
}

.my-navbar .mn-primarymenu, li a{
  color: white;
}


.my-navbar .mn-primarymenu .dropdown-menu li a{
  color: #2f2e2e;
}

.my-navbar .mn-primarymenu .dropdown:hover{
    background-color: #ff0000;
}

.navbar-custom .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #b30000;
    color: white;
}*/



.mySlides {
  display:none;
}

.container{
  width: 55%;
  position: relative;
  left: 0;
  right: 0;
  margin: auto; 
  padding-left: 2em;
  margin-top: 15%;
}



footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  opacity: 0.8;
  text-align: center;
  font-size: 1.9em;
  font-family: Baskerville;
}

/*.my-gallery{
  margin: 10px 50px;
}

.my-gallery img{
  width: 300px;
  height: 230px;
  padding: 5px;
  filter: grayscale(100%);
  transition: 1s;
}

.my-gallery img:hover{
  filter: grayscale(0%);
  transform: scale(1.1);
}*/